"""{{ package.path.split('/')[1] | snakecase }} URL Configuration

"""

from django.contrib import admin
from django.urls import path, include

from drf_nest.routers import AppRouter

{% for child in package.children %}
from {{ child.name }}.urls import urlpatterns as {{ child.name }}Urls{% endfor %}

admin.site.site_title = '{{ package.name }}'
admin.site.site_header = '{{ package.name }}'

apps={  
    {% for child in package.children %}'{{ child.name }}':'app-{{ child.name }}',{% endfor %}
}
router = AppRouter( apps=apps )

urlpatterns = [
    path('admin/', admin.site.urls),
    path('api/', include(router.urls)),
    path('api-auth/', include('rest_framework.urls', namespace='rest_framework')),
]{% for child in package.children %} + {{ child.name }}Urls{% endfor %}
