model_package: "{D6D3BF36-E897-4a8b-8CA9-62ADAAD696ED}"
test_package: "{C2E30D48-F8AB-4c6f-9FA3-AFE44653D5EB}"
source: sqlite:///./sample_recipes/sparxdb/sample.qea
parser: sparxdb
dest_root: ./build/sample_sparxdb_schema
templates_folder: ./mdg/templates
generation_type: default
model_templates:
# Avro Schema
- dest: "avro/{{cls.package.name}}.{{ cls.name }}.avsc"
  level: class
  source: "Schema/avro.avsc.jinja"
# OpenAPI Schema
- dest: "openapi/{{ package.name }}/{{ package.version }}.yaml"
  level: package
  source: Schema/openapi.yaml.jinja
  filter: "{% if package.classes %}True{% else %}False{% endif %}"
test_templates:
- dest: ./build/json{{ins.package.path}}/{{ins.stereotype}}.json
  format: json
