{
  "resource_version": 40,
  "metadata": {
    "version": 3,
    "sources": [
      {
        "name": "default",
        "kind": "postgres",
        "tables": [{% for cls in package.get_all_classes() %}{% if cls.is_abstract == False and cls.id_attribute %}{
            "table":{
              "name": "{{ cls.package.name | snakecase }}__{{ cls.name | snakecase }}",
              "schema": "public"
            },
          "object_relationships": []
        },
 {% endif %}{% endfor %}
        ],
        "configuration": {
          "connection_info": {
            "database_url": {
              "from_env": "HASURA_GRAPHQL_METADATA_DATABASE_URL"
            },
            "isolation_level": "read-committed",
            "use_prepared_statements": false
          }
        }
      }
    ],
    "allowlist": [
      {
        "collection": "allowed-queries",
        "scope": {
          "global": true
        }
      }
    ]    
  }
}

