from django.contrib import admin

{% for cls in package.classes %}{% if not cls.is_abstract %}
from {{ package.name }}.models import {{ cls.name }}
admin.site.register({{ cls.name }})
{% endif %}{% endfor %}

